<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head><meta charset="UTF-8"/></head>
<body>

<section class="layout-content" layout:fragment="corpo">

	<div class="navbar navbar-expand-md bg-light">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<i class="oi oi-caret-right"></i>
					<span>Lista de Usuários</span>
				</li>
			</ul>
			<div class="row">
				<div class="col-xs-4">
					<a class="btn btn-primary" data-toggle="modal"
					   data-target="#modal-form" onclick="novo()">
						<i class="fa fa-plus-square"></i> Novo Registro
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="alert  alert-success"
			 th:if="${!#strings.isEmpty(mensagem)}">
			<i class="fa fa-check-circle"></i> <span th:text="${mensagem}">Mensagem de sucesso!</span>
		</div>

		<div class="table-responsive">
			<table id="minhaTable" class="table table-striped
					table-bordered  table-hover  table-condensed">

				<thead class="ut-table-header-solid">
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>Usuário</th>
						<th>Permissões</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:id="'row_' + ${usuario.id}" th:each="usuario: ${usuarios}">
						<td style="width:150px" class="text-center" th:text="${usuario.id}">0</td>
						<td><a th:href="'javascript:editarUsuario('+ ${usuario.id} +',\'/usuarios\');'"
							   th:text="${usuario.nome}">...</a></td>
						<td th:text="${usuario.username}">...</td>
						<td>
							<ul class="list-inline">
								<li class="list-inline-item" th:each="permissao: ${usuario.permissoes}">
									<i class="fa fa-user-tag"></i>
									<span th:text="${permissao.nome}"></span>
								</li>
							</ul>
						</td>
						<td style="width:200px" class="text-center">

							<a th:href="'javascript:editarUsuario('+ ${usuario.id} +',\'/usuarios\');'"
							   class="btn btn-primary btn-xs botao">
								<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
							</a> &nbsp;
							</a> &nbsp;
							<a th:href="'javascript:excluir('+ ${usuario.id} +',\'/usuarios\');'"
							   class="btn btn-danger btn-xs botao"><span class="oi oi-circle-x " title="Exclusão desabilitada" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal modal-form" th:id="modal-form">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Usuário</h3>
					<button type="button" class="close" data-dismiss="modal"
							onclick="limparUsuario()" aria-hidden="true">x</button>
				</div> <!-- modal-header -->
				<form id="frm" name="frm"
						method="POST" class="form-vertical"
					  th:action="@{/usuarios/}">
					<div class="modal-body">
							<input type="hidden" id="id" name="id"/>
							<div class="form-group">
								<label for="nome">Nome</label>
								<input type="text" class="form-control"
									id="nome" name="nome"/>
							</div>
							<div class="form-group">
								<label for="sobrenome">Sobrenome</label>
								<input type="text" class="form-control"
									   id="sobrenome" name="sobrenome" />
							</div>
							<div class="form-group">
								<label for="username">E-mail</label>
								<input type="text" class="form-control"
									id="username" name="username" required />
							</div>
							<div class="form-group">
								<label for="password">Senha</label>
								<input type="password" class="form-control"
									id="password" name="password" required />
							</div>
							<div class="form-group">
								<label for="telefone">Telefone</label>
								<input type="text" class="form-control"
								   id="telefone" name="telefone" />
							</div>
							<div class="form-group">
								<label for="celular">Celular</label>
								<input type="text" class="form-control"
								   id="celular" name="celular" required/>
							</div>
							<div class="form-group">
								<label for="cpfCnpj">CPF/CNPJ</label>
								<input type="text" class="form-control"
								   id="cpfCnpj" name="cpfCnpj" required/>
							</div>
							<div class=" form-group">
								<label for="dataNascimento">Data de Nascimento</label>
								<input type="text" class="datepicker form-control"
								   id="dataNascimento" name="dataNascimento" required/>
							</div>
							<div class="form-group">
								<label for="genero">Gênero</label>
								<select class="form-control" id="genero" name="genero" >
									<option value="Masculino"> Masculino </option>
									<option value="Feminino"> Feminino </option>
								</select>
							</div>

							<div class="form-group">
								<label>Permissões:</label>
								<div th:each="permissao: ${permissoes}">
									<input type="checkbox" name="permissoes"
										th:id="'chk_' + ${permissao.id}"
										th:value="${permissao.id}"/>
									<label
									th:for="'chk_' + ${permissao.id}"
									 th:text="${permissao.nome}"></label>
								</div>
							</div>

					</div> <!-- modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn" data-dismiss="modal"
								onclick="limparUsuario()" aria-hidden="true">Cancelar</button>
						<button type="button" class="btn btn-success"
								onclick="salvar('/usuarios')">Salvar</button>
					</div>
				</form>
			</div> <!-- modal-content -->
		</div> <!-- modal-dialog -->
	</div> <!-- modal-form -->
	<script type="text/javascript" th:src="@{/js/crud-usuario.js}"></script>
	<script type="text/javascript" th:src="@{/js/cruds.js}"></script>
</section>

</body>
</html>










