<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

<body>
	<footer class="layout-footer" th:fragment="rodape">

		<!-------- Footer -------->

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block clearfix">
						<a href="#">
							<img th:src="@{/image/icone.png}"/>
						</a>
						<p>
							O marketplace é uma plataforma, mediada por uma empresa, em que vários fornecedores se inscrevem e vendem seus produtos.
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>Contato</h4>
						<p ><i class="fa fa-map-marker"></i> <span>E-Marketplace </span>AV. XV de Novembro, 3982, Chopinzinho</p>
						<p> <i class="fa fa-phone"></i> <span>Telefone:</span> (46) 1234 2456 </p>

						<p> <i class="fa fa-mobile"></i> <span>Celular:</span> (46) 91234 1234</p>

						<p class="mail"><i class="fa fa-envelope"></i>Email: <span>info@emarketplace.com.br</span></p>
					</div>
				</div>
				<div class="col-md-4">
					<h4 class="connect-heading">Conecte-se Conosco</h4>
					<ul class="social-icon">
						<li>
							<a class="facebook-icon" href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a class="plus-icon" href="#">
								<i class="fab fa-google-plus"></i>
							</a>
						</li>
						<li>
							<a class="twitter-icon" href="#">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a class="pinterest-icon" href="#">
								<i class="fab fa-pinterest"></i>
							</a>
						</li>
						<li>
							<a class="linkedin-icon" href="#">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-------- Footer Final -------->

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="cash-out pull-left">
							<li>
								<a href="#">
									<img th:src="@{../image/American-Express.png}" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img th:src="@{../image/PayPal.png}" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img th:src="@{../image/Maestro.png}" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img th:src="@{../image/Visa.png}" alt="">
								</a>
							</li>
							<li>
								<a href="#">
									<img th:src="@{../image/Visa-Electron.png}"/>
								</a>
							</li>
						</ul>
						<p class="copyright-text pull-right">E-Marketplace © 2019. Todos os direitos Reservados.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>