<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head><meta charset="UTF-8"></head>
<body>
	<header th:fragment="cabecalho">

		<!-------- Header de Inicio -------->

		<nav id="top">
			<div class="container">
				<div class="row">
					<div class="col-md-9">

						<a class="navbar-brand " href="/"><img th:src="@{/image/icone.png}" height="50px" width="50px">
							E-Marketplace</a>
					</div>
					<div id="cor">
						<div class="col-md-2">
							<div class="dropdown">
								<a data-toggle="dropdown" href="#">

									<i class="fa fa-user fa-fw"></i>
										<sec:authorize access="isAuthenticated()">
											Olá, <span sec:authentication="principal.nome"> Erro!!!	</span>!
										</sec:authorize>
								</a>

								<div class="dropdown-menu dropup">

									<ul>
										<li >
											<a class="btn">Minha Conta</a>
										</li>
										<li >
											<a class="btn">Meus Pedidos</a>
										</li>
										<li >
											<a th:href="@{/logout}" class="btn">Sair</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="cart dropdown">
								<a data-toggle="dropdown" href="#"><i class="fa fa-shopping-cart"></i></a>
								<div id="carrinho" class="dropdown-menu dropup">
									<span class="caret"></span>
									<table id="lista-carrinho" class="table">
										<thead>
											<tr>
												<th>Imagem</th>
												<th>Nome</th>
												<th>Valor</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
									<a href="#" id="esvaciar-carrinho" class="btn btn-primary btn-block">Esvaciar Carrinho</a>
									<a href="#" id="finalizar-pedido" class="btn btn-danger btn-block">Finalizar Pedido</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>