<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head><meta charset="UTF-8">

</head>
<body>
	<header th:fragment="cabecalho">

		<!-------- Header de Inicio -------->

		<nav id="top">
			<div class="container">
				<div class="row">
					<div class="col-md-3">

						<a class="navbar-brand " href="/"><img th:src="@{/image/icone.png}" height="50px" width="50px">
							E-Marketplace</a>

					</div>
					<div class="col-md-6">
						<form method="post" th:action="@{/produto/buscarproduto}">
							<div class="col-md-9">
								<input type="search"  class="form-control buscar" id="buscar"
									   th:name="nome" placeholder="Busque em Nossa Loja"  />
							</div>
							<div class="col-md-2">
								<button class="btn btn-buscar" >
										<i class="fa fa-search"></i> Buscar</button>
							</div>
						</form>
					</div>

					<div id="cor">
						<div class="col-md-2">
							<div class="dropdown" sec:authorize="isAuthenticated()">
								<a data-toggle="dropdown" href="#" >
									<i class="fa fa-user fa-fw"></i>
									Olá, <span class="teste" sec:authentication="principal.nome"> Erro!!!	</span>!
								</a>
								<div class="dropdown-menu dropup">
									<ul>
										<li class="botao">
											<a>Minha Conta</a>
										</li>
										<li class="botao">
											<a>Meus Pedidos</a>
										</li>
										<li class="botao">
											<a th:href="@{/logout}" >Sair</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="dropdown" sec:authorize="! isAuthenticated()">
								<a data-toggle="dropdown" href="#" >
									<i class="fa fa-user fa-fw"></i>
									<span class="teste">Entrar | Login</span>
								</a>
								<div class="dropdown-menu dropup">
									<ul>
										<li class="botao">
											<a th:href="@{/login}">Fazer Login</a>
										</li>
										<li class="botao">
											<span>Não é Cadastrado?</span>
										</li>
										<li class="botao">
											<a th:href="@{/usuario}">Cadastre-se!</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="cart dropdown">
								<a data-toggle="dropdown" href="#"><i class="fa fa-shopping-cart"></i>
									<div class="notificacao-carrinho" >
										<p id="qtde"></p>
									</div>
								</a>

								<div id="carrinho" class="dropdown-menu dropup">
									<table id="lista-carrinho" class="table">
										<thead>
											<tr>
												<th>Imagem</th>
												<th>Nome</th>
												<th>Valor</th>
											</tr>
										</thead>
										<tbody>

										<tr class="sem-registros">
											<td colspan="3">
												<h5>O carrinho está vazio.</h5>
											</td>
										</tr>

										</tbody>
									</table>
									<a href="#" id="esvaciar-carrinho" class="view-link shutter">Limpar Carrinho</a>
									<a href="/carrinho" id="processar-pedido" class="view-link shutter">Ver Carrinho</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>