<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="navbar navbar-default" th:fragment="nav-navbar">

		<!-------- Navbar Inicio -------->

		<div id="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav nav-main">
						<li><a href="/">HOME</a></li>
						<li><a href="/produto/">PRODUTOS</a></li>
						<li class="dropdown" >
							<a href="#">
								CATEGORIAS
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a th:href="@{/produto/categoria/1}">Calçados</a>
								</li>
								<li>
									<a th:href="@{/produto/categoria/2}">Roupas</a>
								</li>
								<li>
									<a th:href="@{/produto/categoria/3}">Acessórios</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#">
								MARCAS
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a th:href="@{/produto/marca/1}" >Adidas</a>
								</li>
								<li>
									<a th:href="@{/produto/marca/4}" >Kappa</a>
								</li>
								<li>
									<a th:href="@{/produto/marca/7}" >New Balance</a>
								</li>
								<li>
									<a th:href="@{/produto/marca/8}" >Nike</a>
								</li>
								<li>
									<a th:href="@{/produto/marca/9}" >Oakley</a>
								</li>
								<li>
									<a th:href="@{/produto/marca/11}" >Pegada</a>
								</li>
								<li>
									<a th:href="@{/produto/marca/12}" >Penalty</a>
								</li>
								<li>
									<a th:href="@{/produto/marca/15}" >Umbro</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#">
								TIPOS
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a th:href="@{/produto/tipo/16}">Bolas</a>
								</li>
								<li>
									<a th:href="@{/produto/tipo/1}">Botas</a>
								</li>
								<li>
									<a th:href="@{/produto/tipo/9}">Camisas Polos</a>
								</li>
								<li>
									<a th:href="@{/produto/tipo/11}">Camisetas</a>
								</li>
								<li>
									<a th:href="@{/produto/tipo/2}">Chinelos</a>
								</li>
								<li>
									<a th:href="@{/produto/tipo/3}">Chuteiras</a>
								</li>
								<li>
									<a th:href="@{/produto/tipo/19}">Meias</a>
								</li>
								<li>
									<a th:href="@{/produto/tipo/5}">Sapatênis</a>
								</li>
							</ul>
						</li>
						<li><a href="#">SOBRE</a></li>
						<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="adm" href="/index">E-ADMINISTRADOR</a>
						</li>
						<li class="dropdown" sec:authorize="hasRole('ROLE_LOJISTA')">
							<a class="adm" href="/index">E-PARCEIROS</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>