<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="navbar navbar-default" th:fragment="nav-navbar">

		<!-------- Navbar Inicio -------->

		<div id="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav nav-main">
						<li><a href="/">HOME</a></li>
						<li><a href="/produto/">PRODUTOS</a></li>
						<li class="dropdown">
							<a href="#">
								CATEGORIAS
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li th:each="categoria : ${categorias}">
									<a href="" th:text="${categoria.nome}"></a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#">
								MARCAS
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li th:each="marca : ${marcas}">
									<a href="" th:text="${marca.nome}"></a>
								</li>
							</ul>

						</li>
						<li class="dropdown">
							<a href="#">
								TIPOS
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li th:each="tipo : ${tipos}">
									<a href="" th:text="${tipo.nome}"></a>
								</li>
							</ul>
						</li>

						<li><a href="#">SOBRE</a></li>
						<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="adm" href="/index">E-ADMINISTRADOR</a>
						</li>
						<li class="dropdown" sec:authorize="hasRole('ROLE_USER')">
							<a class="adm" href="/index">E-PARCEIROS</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>