<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="/categorias/"> <i
					class="oi oi-spreadsheet"></i> <span>Categorias</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="/marcas/"> <i
					class="oi oi-spreadsheet"></i> <span>Marcas</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="/tipos/"> <i
					class="oi oi-spreadsheet"></i> <span>Tipos</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="/estados/"> <i
					class="oi oi-spreadsheet"></i> <span>Estados</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="/cidades/"> <i
					class="oi oi-spreadsheet"></i> <span>Cidades</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="/promocoes/"> <i
					class="oi oi-spreadsheet"></i> <span>Promoções</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link" href="/produtos/"> <i
					class="oi oi-spreadsheet"></i> <span>Produtos</span>
			</a></li>
		</ul>


	</nav>
	
</body>
</html>