
/*carrinho  */

.row2{
    margin: 0 0 2% 0;
}

.tCarrinho{
    margin: 5%;
    text-align: center;
}


.qtda{
    width: 60%;
}

.tCar{
    margin-top: 5%;
}

/*top*/

.navbar-brand{
    padding: 0;
}

#top {
    text-align: initial;
    position:fixed;
    z-index:9999;
    width: 100% !important;
    top:0px;
    left:0;
	background: #1C1C1C;

	padding: 10px 0;
}

#top a{
    color: #ff6200;
    text-decoration: none;
}

.table span{
    font-weight: normal;
}

#cor a:hover {
    color: #dbbd9d;


}

.dropdown i{
    font-size: 28px;
}

.dropup{
    font-size: 14px;
}

.nome{
    text-align: left;
}


/*	Shutter Button Start
    ==================================================*/
.view-link {
	text-align: center;
	border: 1px solid #dedede;
	display: block;
	padding: 8px 10px;
	font-size: 17px;
	color: #555;
	font-weight: bold;
}
.view-link:hover {
	border: 1px solid #ff6200;
	text-decoration: none;
}
.view-link:hover i {
	color: #fff;
}
.view-link i {
	padding-right: 10px;
	color: #555;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.shutter {
	position: relative;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;

}
.shutter:before {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	display: block;
	content: "";
	position: absolute;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	z-index: -1;
}
.shutter:hover:before {
	height: 100%;
	background: #ff6200;
	color: #fff;
}
.shutter:hover {
	color: #fff;

}

.btn-transparent {
	position: relative;
	border-radius: 0;
}
.btn-transparent:hover {
	border-color: #ff6200;
}
.btn-transparent:before {
	position: absolute;
	width: 100%;
	height: 0;
	content: "";
	display: block;
	top: 0;
	left: 0;
	z-index: 3;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.btn-transparent:hover:before {
	height: 100%;
	background: #ff6200;
	color: #fff;
}
.btn-transparent:hover span {
	color: #fff;
}
.btn-transparent span {
	z-index: 5;
	position: relative;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;


}

/*css do seet alert*/
.swal2-popup {

    font-size: 14px !important;
}

li {
    list-style: none;
}

ul {padding-left: 0;}

.botao{
    margin: 10px 20px;
}

#carregando{
    display: none;
}

.direita{
    margin: 5% 0 5% 0;
    float: right;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
}


