body{
    margin: 0;
    padding: 0;
}

#prev, #next{
    width: 5%;
    height: 5%;
    padding-bottom: 17%;
}

#carrossel{
    width: 100%;
    height: 60%;
    margin: auto;
    background-color: black;
    text-align: center;
}

#itens{
    overflow-x: auto;
    width: 80%;
    height: 60%;
    display: inline-block;
}

#itens ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}