html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 50px 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 7px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 0;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.navbar-brand{
    padding: 0;
}
#top {
    text-align: initial;
    position:fixed;
    z-index:9999;
    width: 100% !important;
    top:0px;
    left:0;
	background: #1C1C1C;

	padding: 10px 0;
}

#top a{
    color: #ff6200;
    text-decoration: none;
}


#cor a:hover {
    color: #dbbd9d;

}

.dropdown i{
    font-size: 28px;
}

.dropup{
    font-size: 14px;
}

.nome{
    text-align: left;
}

.btn2{
    color: #ff8400;
}

.btn2:focus,
.btn2:hover{
    color: #ccc;
    text-decoration: none;
}

.btn3{
    color: #000;
}

.btn3:focus,
.btn3:hover{
    color: #ccc;
    text-decoration: none;
}

/*	Shutter Button Start
    ==================================================*/
.view-link {
	text-align: center;
	border: 1px solid #dedede;
	display: block;
	padding: 8px 10px;
	font-size: 17px;
	color: #555;
	font-weight: bold;
	width: 100%;
}
.view-link:hover {
	border: 1px solid #ff6200;
	text-decoration: none;
	background-color: #ff6200;
}
.view-link:hover i {
	color: #fff;
}
.view-link i {
	padding-right: 10px;
	color: #555;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.shutter {
	position: relative;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;

}
.shutter:before {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	display: block;
	content: "";
	position: absolute;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	z-index: -1;
}
.shutter:hover:before {
	height: 100%;
	background: #ff6200;
	color: #fff;
}
.shutter:hover {
	color: #fff;

}

.superior{
    margin-top: 30%;
}

#genero.form-control{
    padding: 0px 8px;

}

.form-group {
    text-align: left;
}

.error{
   font-weight: normal;
   color: #ff7272;
}

.obrigatorios{
    color: red;
    margin: 20px;
}

.top{
    margin-top: 25%;
}

.direita{
    margin: 5% 0 5% 0;
    float: right;
}
.view-link {

    background-color: #fff;
}

.top{
    margin-top: 14%;
}

.validar{
    margin-top: 20px;
}


