/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 991px) {

    .blog-sidebar{ display:none; }

    .teste{ display:none; }

}



@media only screen and (min-width: 767px) and (max-width: 991px) {
	
	.product-grid ul li {
        width: 32%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.product-grid ul li {
        width: 49%;
    }
}


@media only screen and (max-width: 480px) {

    .product-grid ul li {
        width: 99%;
    }
}










/* Example Media Queries */
@media screen and (max-width: 65.375em) {

}

@media screen and (max-width: 47.2em) {

}