/*
 * Base structure
 */
html, body {
	height: 100%;
}

body {
	padding-top: 56px;
	padding-left: 0;
}

/*
 * main layout
 */
.layout-main {
    display: flex;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

/*
 * Content
 */
.layout-content {
    width: 100%;
    padding-top: 0px;
}

.container {
	width: 100%;
	padding-top: 20px;
}

/*
 * Sidebar
 */
.sidebar {
    width: 0px;
    height: 100%;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #000000;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .2s;

}

.sidebar .nav {
	margin-bottom: 0px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
}

.sidebar ul li:hover a, .menu ul li.active a{
    color: #ffffff;
    background-color: #0046d2;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li a{
    display: block;
    color:#777777;
    /*padding: 10px 15px;*/
    white-space: nowrap;
}

.sidebar.sidebar-close {
    width: 20px;
}

.sidebar.sidebar-open {
    width: 200px;
}

/*
 * nav-pills home
 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #1e94d2;
}

/*
 * toogle do navbar do menu
 */

.navbar-toggle {
    display: inline-block;
    margin-left: 0px;
}



/*
 * Footer
 */
.layout-footer {
	/*position: fixed;*/
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 50px;
	border-top: 2px solid #eeeeee;
}

.footer-copy {
	font-size: 92%;
	display: block;
	color: #777777;
	text-align: center;
}

div, span, i, a{
    font-size: 14px;
}

[type=search] {
    -webkit-appearance: auto;
}


 /*header*/

.navbar-header img{
    width: 25px;
}

/*lista*/



.texto, .texto:hover {
    color: #333333;
    text-decoration: none;
}

#linha{
    display: inline-flex;
}

.padd{
    margin: 0 20px 0 20px;
}

.table td, .table th {
    padding: .3rem;
    vertical-align: inherit;
}

.botao {
    padding: 3px 6px;
}

.usuario{
    color: #eeeeee;

}

/* da qui pra frente*/


/* select box multiplo */

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.error{

   color: #ff7272;
}

/*pagina de loading*/

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader{
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 200%;
    z-index: 99999;
    opacity: 0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity = 65);
    background: black;
    padding-left: 47%;
    display: none;
}

.checkbox-list{
    border-width:1px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height:110px;
    width:465px;
    overflow-y:scroll;
    padding: 2px 15px;
}