<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layoutinicial}">

<head><meta charset="UTF-8" />

</head>
<body>
    <section id="slider-area"  class="layout-content" layout:fragment="corpo">

        <!-------- Slide de Inicio-------->

        <div class="container" id="carrossel">
            <div class="row">
                <div class="col-md-12">
                    <div id="slider" class="nivoSlider">
                        <img th:src="@{/image/carrossel/1.png}" />
                        <img th:src="@{/image/carrossel/2.png}" />
                        <img th:src="@{/image/carrossel/3.png}" />
                        <img th:src="@{/image/carrossel/4.png}" />
                    </div>
                </div>
            </div>
        </div>

        <!-------- Categorias Inicio-------->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="block-heading">
                            <h2>Categorias</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <a class="catagotie-head" href="blog-single.html">
                                        <img src="images/category-image-1.jpg" alt="...">
                                        <h3>Beef Steak</h3>
                                    </a>
                                    <div class="caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam...</p>
                                        <p>
                                            <a href="blog-single.html" class="btn btn-default btn-transparent" role="button">
                                                <span>Check Items</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <a class="catagotie-head" href="blog-single.html">
                                        <img src="images/category-image-2.jpg" alt="...">
                                        <h3>Miscellaneous</h3>
                                    </a>
                                    <div class="caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam...</p>
                                        <p>
                                            <a href="blog-single.html" class="btn btn-default btn-transparent" role="button">
                                                <span>Check Items</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <a class="catagotie-head" href="blog-single.html">
                                        <img src="images/category-image-3.jpg" alt="...">
                                        <h3>Elegant Apparel</h3>
                                    </a>
                                    <div class="caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam...</p>
                                        <p>
                                            <a href="blog-single.html" class="btn btn-default btn-transparent" role="button">
                                                <span>Check Items</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-------- Produtos -------->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="products-heading">
                        <h2>PRODUTOS</h2>
                    </div>
                </div>
            </div>
            <div class="product-grid" id="lista-produtos">
                <ul >
                    <li class="hGrid" th:id="'row_' + ${produto.id}" th:each="produto : ${produtos}">
                        <div class="products">
                            <a href="" >
                            <img th:src="${produto.imagem}" alt=""/>
                        </a>
                            <a href="" >
                                <h4 th:text="${produto.nome}" ></h4>
                            </a>
                            <p class="valor" th:text="${produto.valor}"></p>
                            <div >
                                <a class="view-link shutter adicionar-carrinho" href="" >
                                    <i class="fa fa-plus-circle"></i>Adicionar ao Carrinho</a>
                            </div>
                            <a href="" style="display:none">
                                <h1 th:text="${produto.id}" ></h1>
                            </a>
                        </div>	<!-- Fim do .products -->
                    </li>
                </ul>
            </div>	<!-- FIm do .products-grid -->
        </div>

        <!-------- Slide de Produtos -------->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="block-heading">
                            <h2>Outros Produtos</h2>
                        </div>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        <div th:id="'row_' + ${produto.id}" th:each="produto : ${produtos}">
                            <img th:src="${produto.imagem}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/pedido.js" type="text/javascript"></script>

    </section>
</body>
</html>