<!DOCTYPE html>
<html lang="pt" xmlns:layoutinicial="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layoutinicial:decorate="~{layoutinicial}">



<head><meta charset="UTF-8" />

    <link href="/css/carrossel.css" rel="stylesheet" />

</head>
<body>

    <section class="layout-content" layoutinicial:fragment="corpo">


        <div id="carrossel">
            <img id="prev" th:src="@{/image/carrossel/prev.png}" />
            <div id="itens">
                <ul>
                    <li><div class="item"><img th:src="@{/image/carrossel/1.png}" /></div></li>
                    <li><div class="item"><img th:src="@{/image/carrossel/2.png}" /></div></li>
                    <li><div class="item"><img th:src="@{/image/carrossel/3.png}" /></div></li>
                    <li><div class="item"><img th:src="@{/image/carrossel/4.png}" /></div></li>
                </ul>
            </div>
            <img id="next" th:src="@{/image/carrossel/next.png}" />
        </div>

    </section>

    <script src="/js/carrossel.js"></script>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</body>
</html>