<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layoutinicial}">

<head><meta charset="UTF-8" />

</head>
<body>
    <section id="single-product"  class="layout-content" layout:fragment="corpo">

        <section id="topic-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1>Detalhes do Produto</h1>
                        <p></p>
                    </div>	<!-- /.col-md-4 -->
                    <div class="col-md-8 hidden-xs">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/produto/" >Produto</a></li>
                            <li><a href="" th:text="${produtos.id}">Produto</a></li>
                        </ol>
                    </div> <!-- /.col-md-8 -->
                </div>	<!-- /.row -->
            </div>	<!-- /.container-->
        </section><!-- /Section -->

        <div class="container" id="lista-produtos">
            <div  >
                <div class="row" >
                    <div class="products" th:id="'row_' + ${produto.id}" th:each="produto : ${produtos}">

                        <div class="col-md-5">
                            <div class="single-product-img">
                                <div>
                                    <a href="" >
                                        <img th:src="${produto.imagem}" alt="" width="456" />

                                    </a>
                                </div>
                            </div>

                        </div> <!-- End of /.col-md-5 -->
                        <div class="col-md-4">
                            <div class="block">
                                <div class="product-des">
                                    <img th:src="${produto.imagem}" style="display: none;"/>
                                    <h4 th:text="${produto.nome} + ' - ' + ${produto.cor.nome}"></h4>
<!--                                    <div th:if="${produto.promocao} != null">-->
<!--                                        <p th:text="${#numbers.formatDecimal(produto.promocao.precoPromocional, 1, 'DEFAULT', 2, 'DEFAULT')}" style="display:none;" ></p>-->
<!--                                        <div class="valor">-->
<!--                                            <span>R$ </span><span th:text="${#numbers.formatDecimal(produto.promocao.precoPromocional, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></br>-->
<!--                                        </div>-->
<!--                                        <div class="valor2">-->
<!--                                            <span>R$ </span> <span th:text="${#numbers.formatDecimal(produto.valor, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div th:if="${produto.promocao} != null">

                                        <div  th:each="promocao : ${promocoes}">

                                            <div th:if="${produto.id} == ${promocao.produto}">
                                                <div th:if="${produto.promocao.id} == ${promocao.id}">
                                                    <p th:text="${#numbers.formatDecimal(produto.promocao.precoPromocional, 1, 'DEFAULT', 2, 'DEFAULT')}" style="display:none;" ></p>
                                                    <div class="valor">
                                                        <span>R$ </span><span th:text="${#numbers.formatDecimal(produto.promocao.precoPromocional, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></br>
                                                    </div>
                                                    <div class="valor2">
                                                        <span>R$ </span> <span th:text="${#numbers.formatDecimal(produto.valor, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:each="promocao : ${promocoes2}">

                                            <div th:if="${produto.id} == ${promocao.produto}">
                                                <div th:if="${produto.promocao.id} == ${promocao.id}">
                                                    <p th:text="${#numbers.formatDecimal(produto.promocao.precoPromocional, 1, 'DEFAULT', 2, 'DEFAULT')}" style="display:none;" ></p>
                                                    <div class="valor">
                                                        <span>R$ </span><span th:text="${#numbers.formatDecimal(produto.promocao.precoPromocional, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></br>
                                                    </div>
                                                    <div class="valor2">
                                                        <span>R$ </span> <span th:text="${#numbers.formatDecimal(produto.valor, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div th:if="${produto.promocao} == null">
                                        <p th:text="${#numbers.formatDecimal(produto.valor, 1, 'DEFAULT', 2, 'DEFAULT')}" style="display:none;" ></p>
                                        <span class="valor">R$ </span> <span class="valor" th:text="${#numbers.formatDecimal(produto.valor, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                        <p class="valor4" ></p>
                                    </div>
                                    <label for="tamanho" class="texto-tamanho">Tamanho: </label>
                                    <select id="tamanho" name="tamanho" class="tamanho">
                                        <option value=""> (Selecione) </option>
                                        <option th:each="tamanho: ${produto_tamanhos}"
                                                th:value="${tamanho.nome}"
                                                th:text="${tamanho.nome}"></option>
                                    </select>
                                    <div class="usuario" th:each="usuario : ${usuarios2}">
                                        Vendido e Entregue por:
                                        <span class="loja" th:text="${usuario.nome}"></span>. O E-Marketplace garante seu produto.
                                    </div>
                                    <a href="" >
                                        <h1 th:text="${produto.id}" style="display: none;"></h1>
                                    </a>
                                    <div class="">

<!--                                        <div class="col-12 col-md-6">-->
                                            <input type="text" class="form-control cep" id="cep" data-mask="00.000-000"
                                                   data-mask-reverse="true" placeholder="Adicione seu CEP" required>
<!--                                        </div>-->
<!--                                        <div class="col-12 col-md-6">-->
                                            <button class="view-link shutter calcular-frete"
                                                    onclick="calcularFrete()">Calcular Frete</button>
                                            <!--                            <input type="button" class="view-link shutter calcular-frete" value="Finalizar Compra" />-->
<!--                                        </div>-->
                                    </div>
                                    <div style="font-size:15px;">
                                        <b id="prazo"></b>
                                        <b id="frete"></b>
                                    </div>
                                    <a class="view-link shutter adicionar-carrinho margin-top" href="" >
                                        <i class="fa fa-plus-circle"></i>Adicionar ao Carrinho</a>
                                    <a class="view-link shutter processar-pedido">
                                        <i class="fa fa-stream"></i>Ir ao Carrinho</a>
                                </div>	<!-- End of /.product-des -->
                            </div> <!-- End of /.block -->
                        </div>	<!-- End of /.col-md-4 -->

                    </div>

                    <div class="col-md-3">
                        <div class="blog-sidebar">
                            <div class="row" >
                                <h4 class="top-catagori-heading">Você pode gostar</h4>
                                <ul class="media-list" th:id="'row_' + ${produto.id}" th:each="produto : ${produtos2}">
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img th:src="${produto.imagem}" alt="" width="50" />
                                        </a>
                                        <div class="media-body">
                                            <a class="media-heading ver-produto" th:text="${produto.nome} + ' - ' + ${produto.cor.nome}"></a>
                                        </div>
                                        <a href="" >
                                            <h1 th:text="${produto.id}" style="display: none;"></h1>
                                        </a>
                                    </li>	<!-- End of /.media -->
                                </ul>	<!-- End of /.media-list -->
                            </div>	<!-- End of /.block -->

                        </div>	<!-- End of /.blog-sidebar -->

                    </div>	<!-- End of /.col-md-3 -->
                </div>	<!-- End of /.row -->
            </div>
            <div class="row" th:id="'row_' + ${produto.id}" th:each="produto : ${produtos}">
                <div class="col-md-9">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">Descrição</a></li>
                        <li><a href="#profile" data-toggle="tab">Características</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <p th:text="${produto.descri}"></p>
                        </div>
                        <div class="tab-pane" id="profile">
                            <p th:text="${produto.caracteristica}"></p>
                        </div>
                    </div>
                </div>	<!-- End of /.col-md-9 -->

            </div>	<!-- End of /.row -->
        </div>	<!-- End of /.Container -->

        <script src="/js/pedido.js" type="text/javascript"></script>
        <script src="/js/frete.js" type="text/javascript"></script>
        <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>

    </section>
</body>
</html>