<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Login E-Marketplace</title>

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<link rel="shortcut icon" href="/image/icone.png" type="image/x-icon">

</head>

<body class="text-center">



	<nav id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-9">

					<a class="navbar-brand " href="/"><img th:src="@{/image/icone.png}" height="50px" width="50px">
						E-Marketplace</a>
				</div>

			</div>
		</div>
	</nav>

	<form class="form-signin" th:action="@{/login}" method="POST">
		<img class="mb-4" alt="E-Marketplace" th:src="@{/image/icone.png}" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Fazer Login</h1>

			<label for="username" class="sr-only">Endereço de e-mail</label>
			<input type="email" id="username" class="form-control" name="username" placeholder="Endereço de email" required="" autofocus="">
			<label for="password" class="sr-only">Senha</label>
			<input type="password" id="password" class="form-control" name="password" placeholder="Senha" required="">
			<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Lembre-me
			</label>
		</div>

		<button class="view-link shutter" type="submit">Entrar</button>
		<div class="alert alert-danger" th:if="${#bools.isTrue(param.error)}">
			O usuário e/ou senha inválido(s)!
		</div>

		<div>
			<span class="">Não é Cadastrado?</span>
			<a th:href="@{/usuario}" class=" btn2">Cadastre-se!</a>
		</div>


		<p class="mt-5 mb-3 text-muted">© 2020</p>
	</form>
</body>

</html>