<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Login E-Marketplace</title>

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<link rel="shortcut icon" href="/image/icone.png" type="image/x-icon">

</head>

<body>
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div class="fadeIn first">
				<img alt="E-Marketplace" th:src="@{/image/icone.png}" />
			</div>

			<!-- Login Form -->
			<form th:action="@{/login}" method="POST">
				<input type="email" id="username" class="fadeIn second" name="username" placeholder="e-mail">
				
				<input type="password" id="password" class="fadeIn third" name="password" placeholder="senha"> 
					
				<input type="submit" class="fadeIn fourth" value="Entrar">
				<div class="alert alert-danger" th:if="${#bools.isTrue(param.error)}">
					O usuário e/ou senha inválido(s)!
				</div>
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="#">Esqueceu a senha?</a>
			</div>

		</div>
	</div>
</body>
</html>