<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Meus Pedidos</title>

    <!-- CSS -->
    <link rel="shortcut icon" href="/image/icone.png" type="image/x-icon">
    <link rel="stylesheet" href="http://localhost:9000/css/bootstrap.min.css">
    <link href="/css/carrinho.css" rel="stylesheet" />

    <!-- jS -->
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<!--    <script src="/js/carrinho.js" type="text/javascript"></script>-->
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <script src="http://localhost:9000/js/bootstrap.min.js" type="text/javascript"></script>


</head>

<body>

<nav id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <a class="navbar-brand " href="/"><img th:src="@{/image/icone.png}" height="50px" width="50px">
                    E-Marketplace</a>
            </div>
            <div id="cor">
                <div class="col-md-2">
                    <div class="dropdown" sec:authorize="isAuthenticated()">
                        <a data-toggle="dropdown" href="#" >
                            <i class="fa fa-user fa-fw"></i>
                            Olá, <span id="cliente" class="cliente" sec:authentication="principal.nome"> Erro!!!	</span>!
                        </a>

                        <div class="dropdown-menu dropup">

                            <ul>
                                <li class="botao">
                                    <a >Minha Conta</a>
                                </li>
                                <li class="botao">
                                    <a th:href="@{/pedido}" >Meus Pedidos</a>
                                </li>
                                <li class="botao">
                                    <a th:href="@{/logout}" >Sair</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="dropdown" sec:authorize="! isAuthenticated()">

                        <a data-toggle="dropdown" href="#" >
                            <i class="fa fa-user fa-fw"></i>
                            <span class="teste">Entrar | Login</span>
                        </a>

                        <div class="dropdown-menu dropup">

                            <ul>


                                <li class="botao">
                                    <a th:href="@{/login}" >Fazer Login</a>
                                </li>
                                <li class="botao">
                                    <span >Não é Cadastrado?</span>
                                </li>
                                <li class="botao">
                                    <a>Cadastre-se!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

    <div class="container tCar">
        <div class="row row2 mt-3">
            <div class="col">
                <h1 class="mb-3 tCarrinho">Meus Pedidos</h1>

                    <div class="col-12 col-md-12" >
                        <div class="table-responsive">

                            <table id="lista-enderecos" class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Imagem</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Valor Total</th>
                                    <th scope="col">Data do Pedido</th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr th:id="'row_' + ${pedido.id}" th:each="pedido : ${pedidos}">
                                            <td><img width="64px" height="64px" th:src="${pedido.produto.imagem}" /></td>
                                            <td><span th:text="${pedido.produto.nome}" ></span></td>
                                            <td>R$ <span th:text="${#numbers.formatDecimal(pedido.valor, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></td>
                                            <td><span th:text="${#temporals.format(pedido.dataPedido, 'dd/MM/yyyy')}" ></span></td>
                                        </tr>
                                        <tr th:if="${pedidos.empty}">
                                            <td colspan="4"><h4>Nenhum pedido registrado</h4></td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-12 col-md-12 final">
            <div class="col-xs-4 col-md-4 direita">
                <a href="/" class="view-link shutter " >Voltar ao Inicio</a>
            </div>
        </div>
    </div>

</body>
</html>
