<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layoutinicial}">

<head><meta charset="UTF-8" />

</head>
<body>
    <section id="shop"  class="layout-content" layout:fragment="corpo">

        <section id="topic-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <h2>Produtos</h2>
                        <p></p>
                    </div>	<!-- /.col-md-4 -->
                    <div class="col-md-8 hidden-xs">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/produto/">Produtos</a></li>
                        </ol>
                    </div> <!-- /.col-md-8 -->
                </div>	<!-- /.row -->
            </div>	<!-- /.container-->
        </section><!-- /Section -->

        <div class="meuconteiner">
            <div class="row">
                <div class="col-md-2">
                    <div class="blog-sidebar">

                    <!--  Filtros  --->

                        <div class="block">

                            <div class="tag-link" th:each="categoria : ${categorias2}">
                                <h4>Filtros</h4>
                                <a th:href="@{../}" title="Remover Filtro" >
                                    <span th:text="${categoria.nome}"></span>
                                    <i class="fa fa-times" ></i></a>
                            </div>
                            <div class="tag-link" th:each="marca : ${marcas2}">
                                <h4>Filtros</h4>
                                <a th:href="@{../}" title="Remover Filtro" >
                                    <span th:text="${marca.nome}"></span>
                                    <i class="fa fa-times" ></i></a>
                            </div>
                            <div class="tag-link" th:each="tipo : ${tipos2}">
                                <h4>Filtros</h4>
                                <a th:href="@{../}" title="Remover Filtro" >
                                    <span th:text="${tipo.nome}"></span>
                                    <i class="fa fa-times" ></i></a>
                            </div>
                            <div class="tag-link" th:each="cor : ${cores2}">
                                <h4>Filtros</h4>
                                <a th:href="@{../}" title="Remover Filtro" >
                                    <span th:text="${cor.nome}"></span>
                                    <i class="fa fa-times" ></i></a>
                            </div>
                            <div class="tag-link" th:each="tamanho : ${tamanhos2}">
                                <h4>Filtros</h4>
                                <a th:href="@{../}" title="Remover Filtro" >
                                    <span th:text="${tamanho.nome}"></span>
                                    <i class="fa fa-times" ></i></a>
                            </div>
                        </div>

                        <div class="block">
                            <h4>Categorias</h4>
                            <table id="tableCategoria" class="tag-link">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="categoria : ${categorias}">
                                        <td>
                                            <a th:href="'/produto/categoria/' + ${categoria.id}"
                                                class="list-group-item"><i class="fa fa-check"></i>
                                                <span th:text="${categoria.nome}"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="block">
                            <h4>Marcas</h4>
                            <table id="tableMarca" >
                                <thead>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr class="media-list" th:each="marca : ${marcas}">
                                    <td class="media">
                                        <a class="pull-left" th:href="'/produto/marca/' + ${marca.id}" >
                                            <img class="media-object" th:src="${marca.imagem}" >
                                        </a>
                                        <div class="media-body">
                                            <a th:href="@{'/produto/marca/' + ${marca.id}}" class="media-heading"><span th:text="${marca.nome}"></span></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="block">
                            <h4>Tipos</h4>
                            <table id="tableTipo" >
                                <thead>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tipo : ${tipos}">
                                    <td class="tag-link">
                                        <a th:href="@{'/produto/tipo/' + ${tipo.id}}" >
                                            <i class="fa fa-check"></i> <span th:text="${tipo.nome}"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="block">
                            <h4>Cores</h4>
                            <table id="tableCor" >
                                <thead>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cor : ${cores}">
                                    <td class="tag-link">
                                        <a th:href="@{'/produto/cor/' + ${cor.id}}" >
                                            <i class="fa fa-check"></i>
                                            <span th:text="${cor.nome}"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="block">
                            <h4>Tamanhos</h4>
                            <table id="tableTamanho" >
                                <thead>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tamanho : ${tamanhos}">
                                    <td class="tag-link">
                                        <a th:href="@{'/produto/tamanho/' + ${tamanho.id}}" >
                                            <i class="fa fa-check"></i> <span th:text="${tamanho.nome}"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>	<!-- End of /.col-md-3 -->

                </div>	<!-- End of /.row -->

                <div class="row" >
                    <div class="product-grid" id="lista-produtos">
                        <ul >
                            <li class="pGrid" th:id="'row_' + ${produto.id}" th:each="produto : ${produtos}" >
                                <div class="products">
                                    <a href="">
                                        <img th:src="${produto.imagem}" alt=""/>
                                    </a>
                                    <a href="">
                                        <h4 th:text="${produto.nome} + ' - ' + ${produto.cor.nome}" ></h4>
                                    </a>
                                    <div th:if="${produto.promocao} != null">
                                        <span class="valor">R$ </span> <span class="valor" th:text="${#numbers.formatDecimal(produto.promocao.precoPromocional, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></br>
                                        <span class="valor2">R$ </span> <span class="valor2" th:text="${#numbers.formatDecimal(produto.valor, 1, 'DEFAULT', 2, 'DEFAULT')}" ></span>
                                    </div>
                                    <div th:if="${produto.promocao} == null">
                                        <span class="valor">R$ </span> <span class="valor" th:text="${#numbers.formatDecimal(produto.valor, 1, 'DEFAULT', 2, 'DEFAULT')}" ></span>
                                        <p class="valor4"></p>
                                    </div>
                                    <div>
                                        <a class="view-link shutter ver-produto" >
                                            <i class="fa fa-stream"></i>Ver Detalhes</a>
                                    </div>
                                    <a href="" style="display:none">
                                        <h1 th:text="${produto.id}" ></h1>
                                    </a>
                                </div>	<!-- Fim do .products -->
                            </li>
                        </ul>
                        <ul style="text-align:center">
                            <li th:if="${produtos.empty}">
                                <div class="blog-sidebar">
                                    <div class="row" >
                                        <h1 class="top-catagori-heading">Nenhum registro encontrado.</h1>
                                    </div>	<!-- End of /.block -->
                                </div>	<!-- End of /.blog-sidebar -->
                            </li>
                        </ul>
                    </div>	<!-- FIm do .products-grid -->
                </div>	<!-- Fim do .col-md-9 -->
            </div>
        </div>
        <script src="/js/pedido.js" type="text/javascript"></script>

    </section>
</body>
</html>